* {
    margin: 0;
    padding: 0;
}
nav {
    width: 100%;
    background-color: #222;
    color: white;

}
ul {
    display: flex;
    list-style-type: none;
}
ul li {
    cursor: pointer;
    font-weight: bold;
    font-size: 18px;
    padding-top: 20px;
    padding-bottom: 20px;
}
ul li:last-child {
    position: absolute;
    right: 20px;
}
ul li:not(:last-child) {
    padding-left: 10px;
    padding-right: 10px;

}
ul li:hover {
    background: white;
    color: black;
}
button {
    background-color: green;
    color: yellow;
    border-radius: 5px;
    padding: 10px;
    border: none;
    outline: none;
    margin-top: 10px;
}
.dropdown {
    position: relative;
    display: inline-block;
}
.dropdown:hover .dropdown_content {
    display: block;
}
.dropdown_content {
    display: none;
    position: absolute;
    background-color: white;
    min-width: 160px;
    box-shadow: 0px 8px 15px 0px black;
    padding: 12px 16px;
    z-index: 1;

}
body {
    background-image: radial-gradient(circle,rgb(255, 4, 4),rgb(0, 255, 55),blue);
    width: 100%;
    height: 100vh;
}